@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* { 
	margin:0; 
	padding:0; 
	-webkit-box-sizing:border-box; 
	box-sizing:border-box; 
}
html { 
	width:100%; 
	height:100%; 
}
body { 
	position:relative; 
	font-family:'Noto Sans KR', sans-serif; 
	font-weight:400; 
	font-size:18px; 
	color:#666; 
	-webkit-overflow-scrolling:touch; 
}
body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, form, fieldset, table, tr, th, td { 
	margin:0; 
	padding:0; 
}
ul, ol, li { 
	list-style:none; 
}
img, fieldset { 
	border:none; 
	vertical-align:top; 
}
legend, caption { 
	position:absolute; 
	top:-9999px; 
	left:-9999px; 
	z-index:-1; 
}
textarea, button { 
	vertical-align:middle; 
}
input, select { 
	font-family:'Noto Sans KR', sans-serif; 
	font-size:18px; 
	color:#333; 
	line-height:1.3; 
	letter-spacing:-0.02em; 
	border-radius:0; 
	vertical-align:top; 
	background:#fff; 
	border:1px solid #e5e5e5; 
}
input:focus, input:active { 
	outline: none; 
}
option:focus, option:active { 
	outline: none;
}
a { 
	text-decoration:none; 
	color:#666; 
}
a:hover, a:focus, a:active { 
	text-decoration:none;
}
table { 
	width:100%; 
	border-collapse:collapse; 
	table-layout:fixed; 
}
button { 
	padding:0; 
	margin:0; 
	font-family:'Noto Sans KR', sans-serif; 
	font-size:18px; 
	cursor:pointer; 
	overflow:visible; 
	white-space:nowrap; 
}
button:focus, button:active { 
	outline: none; 
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { 
	display: block; 
}
.inner {
    width:1200px;
    margin:0 auto;
}
#wrap {
	width:100%;
	overflow:hidden;
}
header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:110px;
    background:#fff;
    border-bottom:1px solid #ccc;
    z-index:11;
}
header .inner {
    position:relative;
}
header .logo {
    position:absolute;
    top:10px;
    left:0;
    display:block;
    width:150px;
    height:90px;
    background:url("../image/logo-sub.png") no-repeat center / 100%;
}
header .menu-div {
	position:absolute;
	top:0;
	right:0;
}
header .menu-div .menu-btn {
	position:absolute;
	top:40px;
	right:0;
	width:40px;
	height:30px;
}
header .menu-div .menu-btn span {
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:100%;
	height:3px;
	background:#6a1c52;
}
header .menu-div .menu-btn span:nth-child(2) {
	top:14px;
}
header .menu-div .menu-btn span:nth-child(3) {
	top:27px;
}
header .menu {
	display:none;
    width:950px;
    margin:0 auto;
    padding:110px 0;
}
header .menu.admin {
    width:1020px;
}
header .menu:after {
	content:"";
	display:block;
	position:fixed; 
	top:0;
	left:0;
	z-index:-1;
	width:100%;
	height:477px;
	background: #408eb9; /* Old browsers */
	background: -moz-linear-gradient(left,  #408eb9 0%, #6a1c52 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #408eb9 0%,#6a1c52 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #408eb9 0%,#6a1c52 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#408eb9', endColorstr='#6a1c52',GradientType=1 ); /* IE6-9 */
}
header .menu > li {
    float:left;
    padding:0 30px;
}
header .menu .one-depth {
    display:block;
    padding:22px 0;
    font-size:20px;
    font-weight:bold;
    color:#fff;
}
header .menu .one-depth:last-child {
    margin-right:0;
}
header .menu .two-depth a {
    display:block;
    width:100%;
    padding:10px 0;
    color:#fff;
}
header .util {
    position:absolute;
    top:40px;
    right:80px;
}
header .util a {
    display:inline-block;
    margin-left:10px;
}
header .util a:first-child {
    margin-left:0;
}
header .util a:first-child:after {
    content:"";
    display:inline-block;
    width:1px;
    height:15px;
    margin:7px 0 0 10px;
    background:#ccc;
    vertical-align:top;
}
/* header.active */
header.active .logo {
	background-image:url("../image/logo-main.png");
}
header.active .util {
	display:none;	
}
header.active .util a {
	color:#fff;
}
header.active .menu-div .menu-btn span {
	background:#fff;
}
#wrap.main header {
	background:none;
	border:none;
} 
#wrap.main header .logo {
	background-image:url("../image/logo-main.png");
}
#wrap.main header .util a {
	color:#fff;
}
#wrap.main header .menu-div .menu-btn span {
	background:#fff;
}
#cBody {
    position:relative;
}
#cBody .sub-content {
	margin-top:110px;
	padding:110px 0 180px;
}
#cBody .sub-content:after {
	content:"";
	display:block;
	clear:both;
}
#cBody .sub-content .nav-area {
	float:left;
	width:240px;
	
}
#cBody .sub-content .nav-area > p {
	font-size:30px;
}
#cBody .sub-content .nav-area > p:before {
	content:"";
	display:block;
	width:50px;
	height:5px;
	margin-bottom:10px;
	background:#6a1c52;
}
#cBody .sub-content .nav-area .two-depth {
	margin-top:50px;
}
#cBody .sub-content .nav-area .two-depth a {
	display:block;
	height:66px;
	padding:20px;
	border-bottom:1px solid #ccc;
}
#cBody .sub-content .nav-area .two-depth a:hover, #cBody .sub-content .nav-area .two-depth a.active {
	font-weight:bold;
	color:#6a1c52;
}
#cBody .sub-content .nav-area .two-depth a:last-child {
	border-bottom:0;
}
#cBody .sub-content .content-area {
	float:left;
	width:960px;
	padding-left:60px;
}
.title {
	margin-bottom:30px;
	font-size:25px;
}
.info-txt {
	font-size:14px;
}
/* 아코디언 */
.accor-content{
   background-color: #ECECEC;
   border-radius: 5px;
   margin: 10px 10px 10px 20px;
   padding: 15px;
}
/* btn 스타일 */
.btn-add {
	display:inline-block;
	padding: 5px 20px;
	font-size:18px;
	color: #fff;
	border-radius: 5px;
	border-color: #408eb9;
	background: #408eb9;
	vertical-align:top;	
}
.btn-add:hover, .btn-add:active {
	color: #fff;
	background:#408eb9;
}
.btn-update {
	display:inline-block;
	padding: 5px 20px;
	font-size:18px;
	color: #408eb9;
	border: 1px solid #408eb9;
	border-radius: 5px;
	background: #fff;
	vertical-align:top;	
}
.btn-update:hover, .btn-update:active {
	color: #408eb9;
	border: 1px solid #408eb9;
	background:#fff;
}
.btn-del {
	display:inline-block;
	padding: 5px 20px;
	font-size:18px;
	color: #fff;
	border: 1px solid #999;
	border-radius: 5px;
	background: #999;
	vertical-align:top;	
}
.btn-del:hover, .btn-del:active {
	color: #fff;
	border: 1px solid #999;
	background:#999;
}
.btn-basic {
	display:inline-block;
	padding: 5px 20px;
	font-size:18px;
	color: #999;
	border: 1px solid #999;
	border-radius: 5px;
	background: #fff;
	vertical-align:top;	
}
.btn-basic:hover, .btn-basic:active {
	color: #666;
	border: 1px solid #999;
	background:#fff;
}
/* table 스타일 */
.table {
	border:none;
	border-top:3px solid #408eb9;
	border-bottom:1px solid #ddd;
}
.table th {
	color:#444;
	background:rgb(160, 199, 220, 0.2);
}
.table thead th {
	text-align:center;
}
.table.table-bordered th, .table.table-bordered td {
	border:none;
	border-bottom:1px solid #ddd;
	border-right:1px solid #ddd;
}
.table.table-bordered th:last-child, .table.table-bordered td:last-child {
	border-right:0;
}
.no-border {
	border-top:1px solid #ddd;
}
.no-border th, .no-border td{
	color:#666;
	background:none;
}
footer {
    padding:40px 0;
    border-top:1px solid #ccc;
}
footer .inner:after {
    content:"";
    display:block;
    clear:both;
}
footer .left-div {
    float:left;
    text-align:left;
}
footer .left-div p {
    margin-top:5px;
    font-size:14px;
    line-height:1.5;
}
footer .left-div .copy {
    font-size:12px;
    color:#999;
}
footer .sns {
    float:right;
}
footer .sns a {
    display:inline-block;
    width:50px;
    height:50px;
    margin-left:20px;
    background-repeat:no-repeat;
    background-position:0 0;
    background-size:50px;
    text-indent:-999px;
    overflow:hidden;
}
footer .sns .facebook {
    background-image:url("../image/sns-facebook.png");
}
footer .sns .twitter {
    background-image:url("../image/sns-twitter.png");
}
footer .sns .instagram {
    background-image:url("../image/sns-instagram.png");
}
