.main-vis {
	position:relative;
    height:100vh;
    overflow:hidden;
}
.main-vis .swiper-slide {
    position:relative;
}
.main-vis .bg {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-size:cover;
    overflow:hidden;
}
.main-vis .bg:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
}
.main-vis .bg video {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	width:100%;
}
.main-vis .inner {
    position:relative;
    height:100%;
}
.main-vis .main-txt {
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    z-index:2;
    text-align:left;
}
.main-vis .main-txt .txt1 {
	position:relative;
	top:100px; 
	opacity:0;
    font-size:45px;
    font-weight:bold;
    color:#fff;
}
.main-vis .main-txt .txt2 {
	position:relative;
	top:100px; 
	opacity:0; 
    margin-top:20px;
    font-size:20px;
    color:#fff;
}
.main-vis .btn-wrap { 
    margin-top:20px;
}
.main-vis .btn-wrap:after {
    content:"";
    display:block;
    clear:both;
}
.main-vis .btn-wrap a {
    float:left; 
    display: block;
    padding:10px 20px;
    font-size:20px;
    color:#fff;
    background:rgba(0,0,0,0.8);
    border-right:1px solid rgba(255,255,255,0.3);
}
.main-vis .btn-wrap a:last-child {
    border-right:0;
}
.main-sec.course {
	position:relative;
    height:100vh;
	background: #255a89; /* Old browsers */
	background: -moz-linear-gradient(top,  #255a89 0%, #6a1c52 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #255a89 0%,#6a1c52 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #255a89 0%,#6a1c52 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#255a89', endColorstr='#6a1c52',GradientType=0 ); /* IE6-9 */

}
.main-sec.course .bg {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url("../image/main-course-bg.jpg") no-repeat center/ cover;
	opacity:0.3;
}
.main-sec.course .img-div {
    position:absolute;
    top:60%;
    left:-100px;
    transform:translateY(-50%);
	width:70%;
	height:500px;;
	background-repeat:no-repeat;
	background-size:cover;
}

.main-sec.course .img-div img {
	width:100%;
}
.main-sec.course .inner {
    position:relative;
    height:100%;
}
.main-sec.course .txt-div {
    position:absolute;
    top:50%;
    right:0;
    transform:translateY(-50%);
    width:300px;
    color:#fff;
    text-align:left;
}
.main-sec.course .txt-div .txt1 {
    position:relative;
    top:100px;
    opacity:0;
    font-size:13px;
    font-weight:bold;
    color:#11aecf;
    line-height:1.3;
}
.main-sec.course .txt-div .txt2 {
    position:relative;
    top:100px;
    opacity:0;
    font-size:45px;
    font-weight:bold;
    line-height:1.3;
}
.main-sec.course .txt-div .txt3 {
    position:relative;
    top:100px;
    opacity:0;
    width:400px;
    margin-top:20px;
    font-size:16px;
    word-break:keep-all;
}
.main-sec.review {
	position:relative;
	padding: 100px 0 150px;
}
.main-sec.review .tit {
	margin-bottom:60px;
	font-size:45px;
	font-weight:bold;
	text-align:center;
}
.main-sec.review .tit:after {
	content:"";
	display:block;
	width:40px;
	height:3px;
	margin:0 auto;
	background:#6a1c52;
}
.main-sec.review .swiper-slide {
    display:block;
    width:280px;
    margin:0 30px;
}
.main-sec.review .swiper-slide .img-div {
    position:relative;
    width:280px;
    height:280px;
    border-radius:20px;
    overflow:hidden;
}
.main-sec.review .swiper-slide .img-div img {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}